<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vanniktech.rxpermission">
  <uses-permission android:name="android.permission.CAMERA"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <uses-permission android:name="android.permission.CALL_PHONE"/>
  <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>

  <uses-sdk tools:overrideLibrary="androidx.test.uiautomator,android_libs.ub_uiautomator"/>

  <application tools:ignore="GoogleAppIndexingWarning">
    <activity android:name=".PermissionActivity"/>
  </application>
</manifest>
